# Data & models
lora-output-*/

# Diffusers
diffusers/

# Directories you want to keep but empty
# Ignore everything in training_images
training_images/**

add_quality_phrases.py
get_images_from_ocean_agency.ipynb
make_metadata.ipynb

# But allow placeholders and metadata
!training_images/.gitkeep
!training_images/metadata.jsonl
!training_images/American_Lobster/
!training_images/American_Lobster/.gitkeep
!training_images/Blue_Shark/
!training_images/Blue_Shark/.gitkeep
!training_images/coral_reef/
!training_images/coral_reef/.gitkeep
!training_images/Lions_Mane_Jellyfish/
!training_images/Lions_Mane_Jellyfish/.gitkeep
!training_images/Mola_Mola/
!training_images/Mola_Mola/.gitkeep
!training_images/other/
!training_images/other/.gitkeep

lora_inference_images/*
!lora_inference_images/.gitkeep

